.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding-top: 5.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/crew/background-crew-desktop.jpg");
}
.circle {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  opacity: 17%;
}
.type {
  opacity: 54.42%;
  font-size: 28px;
}
.selected {
  display: flex;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}

.image{
  border: 1px solid red;
}